@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {  
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
body {
  /* background: url("/static/back.jpg"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  backdrop-filter: blur(20px);
  display: flex;
}

main {
  width: 600px;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
}

#page-top {
  margin-bottom: 50px;
  text-align: center;
}
#page-top-title h1 { font-size: 50px; }
#page-top-title p { font-size: 20px; }

label, input, button {
  font-size: 20px;
}
label {
  font-weight: 500;
}
#image-upload {
  width: calc((100%) - 21px);
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: lightcyan;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s ease;
}
#submit {
  background-color: lightcyan;
  padding: 12px 20px;
  font-weight: 500;
  cursor: pointer;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: all .2s ease;
}
#submit:hover, #image-upload:hover {
  background-color: wheat;
  color: black;
  border: 1px solid;
}

#prediction-title {
  margin-top: 50px;
  text-align: center;
  margin: 5px 0;
}
#prediction {
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

#pred {
  font-size: 22px;
  font-weight: 500;
  padding: 50px 0;
  color: blueviolet;
}
#loading {
  display: none;
  padding: 40px 0;
}

.loader {
  display: flex;
  margin: auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-right-color: #da466b;
  border-left-color: #da466b;
  border-bottom-color: #da466b;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}