<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lung Cancer Disease Prediction</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

  <main>
    <div id="page-top">
      <div id="page-top-title">
        <h1>Lung Cancer Detection</h1>
        <p>via CT Scan Chest Image</p>
      </div>
    </div>

    <form action="/" method="post" enctype="multipart/form-data">
      <div id="image-form">
        <div> <label for="image-upload">Upload CT Scan Chest Image</label> </div>
        <div> <input type="file" id="image-upload" name="image"> </div>
        <div> <button type="submit" id="submit">Predict</button> </div>
      </div>
    </form>

    <div id="prediction-title">
      <h1>Prediction</h1>
    </div>
    <div id="prediction">
      <div id="loading"><div class="loader"></div></div>
      <div id="pred"><p id="nothing">None</p>{{pred}}</div>
    </div>
  </main>

<script src="/static/index.js"></script>

</body>
</html>